img {
 width: 50%;
 height: auto;
}

main {
  text-align: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
body{
  background-color: DarkOliveGreen;
}

h1{
  color: FloralWhite;
  font-size: 75px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Grandstander", cursive, serif;
}

P{
  color: HoneyDew;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Kurale", cursive, serif;
}

input[type="email"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
  font-family: "Kurale", cursive, serif;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="text"] {
  background-color: PaleGoldenRod;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="tel"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="submit"] {
  background-color: PaleGoldenRod;
  border: 2; 
  padding: 15px;
  font-size: 25px;
  font-family: "Kurale", cursive, serif;
}
