img {
 width: 50%;
 height: auto;
}

main {
  text-align: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
body{
  background-color: DarkOliveGreen;
}

h1{
  color: FloralWhite;
  font-size: 75px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Grandstander", cursive, serif;
}

P{
  color: HoneyDew;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Kurale", cursive, serif;
}

input[type="email"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1px; 
  border-style: double;
  padding: 20px;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="text"] {
  background-color: PaleGoldenRod;
  opacity: 0.3;
  border: 1px; 
  border-style: double;
  padding: 20px;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="tel"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1px; 
  border-style: double;
  padding: 20px;
  font-size: 25px;
  font-family: "Grandstander", cursive, serif;
}

input[type="submit"] {
  background-color: PaleGoldenRod;
  border: 2px; 
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  font-family: "Kurale", cursive, serif;
}

label[for="email"] {
  color: PaleGoldenRod;
  font-size: 30px;
  font-family: "Kurale", cursive, serif;
}

label[for="fname"] {
  color: PaleGoldenRod;
  font-size: 30px;
  font-family: "Kurale", cursive, serif;
}

label[for="lname"] {
  color: PaleGoldenRod;
  font-size: 30px;
  font-family: "Kurale", cursive, serif;
}

label[for="tel"] {
  color: PaleGoldenRod;
  font-size: 30px;
  font-family: "Grandstander", cursive, serif;
}

@media screen and (max-width: 600px) {
  line-height: 1.4;
  font-size: 10pt;
  main {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  main {
    width: 100%;
  }
  img {
   width: 100%;
  }
}
    
