main {
  text-align: center;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
body{
  background-color: DarkOliveGreen;
}

h1{
  color: FloralWhite;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

P{
  color: HoneyDew;
  font-size: 30px;
}

input[type="email"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
}

input[type="text"] {
  background-color: PaleGoldenRod;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
}

input[type="tel"] {
  background-color: PapayaWhip;
  opacity: 0.3;
  border: 1; 
  padding: 20px;
}
input[type="submit"] {
  background-color: PaleGoldenRod;
  border: 3; 
  padding: 25px;
}
